.pagination-section{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    color: #fff;
    .page-no{
        cursor: pointer;
        padding: 12px;
        margin: 4px;
        background: #00aac8;
    }
}