.nav-section{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d0ecf4;
    color: #00aac8;
    #rw-logo{
        width: 120px;
    }
    #logo-text{
        font-size: 22px;
        font-weight: 500;

    }
}